<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @genre.description %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_genre_path(@genre), :class => "button" %> 
<td><%= link_to 'Destroy', @genre, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button" %></td>
<%= link_to 'Back', genres_path, :class => "button" %>
<% end %>

