<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre.name %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @game.discription %>
</p>

<p>
  <strong>Release:</strong>
  <%= @game.release %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @game.image_url %>
</p>
<% if user_signed_in? %>
	<%= link_to 'Edit', edit_game_path(@game), :class => "button" %> 
	<%= link_to 'Back', games_path, :class => "button" %>
<% end %>

